* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html {
	height: 100%;
}

body {
	background-image: url(../images/testBackM.jpg);
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	color: #000; 
	text-align: justify; 
	line-height:1.5;
}

.wrapper {
	z-index: 1;
	margin:0 auto;
	height: auto !important;
	width:80%;
	background-color: #f0f0f0;
}

/* Стили формы
-----------------------------------------------------------------------------*/
form {
	margin:  0 auto;
	width: 600px;
}

input, select, textarea { /* button */
	height: 50px;
	width: 100%;
	margin: 10px 0;
	border: solid 1px black;
	padding-left: 10px;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=file] {
	border: none;
	height: 30px;
	padding: 0;
}

textarea {
	padding: 10px;
	height: 150px;
}

/* настройки оформления блока Header
-----------------------------------------------------------------------------*/
header {
	margin: 0;
	padding: 0;
	width:80%;	
	margin: 0 auto;
	background-color: black;
}

header>div{
	text-align: center;
	width: 80%;
	margin:auto;
	padding: 5%;
}

header>div>h1, header>div>h2{ 
	font-style: normal;
	color:white;
	transition: all 0.3s ease-in-out;
	margin: 1%;
	padding: 0;
}

header>div>h1:hover, header>div>h2:hover{ 
	color:rgba(191, 99, 164);
}
	
header>div>h1 {	font-size: 26px; }
header>div>h2 {	font-size: 20px; }

/*  настройки оформления меню -----------------------------------------------------------------------------*/
nav{
	width: 100%;
	margin: 0;
	padding: 0;
}

ul.menu {
	margin: 0 auto;
    list-style: none;
    display: flex;
	flex-flow: row nowrap;
    justify-content: center;
}

ul.menu > li {
	transition: all 0.3s ease-in-out;
	position: relative;
}

ul.menu > li > a {
    display: block;
	padding: 15px 25px;
    color: #000;
    text-decoration: none;
	font-size: 10pt;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

ul.menu > li > a:hover {
    background-color:rgba(191, 99, 164);
	color: #000;
}

ul.submenu {
	z-index: 2;
    display: none;
    position: absolute;
	width: 200px;
    top: auto;
	left: 0px;
	text-align: center;
}

ul.submenu > li {
    display: block;
    background-color: rgba(191, 99, 164);
}

ul.submenu > li > a {
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
	font-size: 10pt;
	transition: all 0.3s ease-in-out;
}

ul.submenu > li > a:hover {
	color: white;
	background-color: black;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}


/* настройки оформления основной части страницы
-----------------------------------------------------------------------------*/
.content {
	width:80%;
	margin:0 auto;
	padding:2%;
	overflow:hidden;
}

.content>p { padding:1%;}
.content ul {text-align: left;}
.content hr {margin: 50px 0}
		
h1 	{ text-align: center;} 
	
h1, h2, h3{  /* форматирование для нескольких элементов */
	font-style: italic;
	padding-top:2%;
	padding-bottom:2%;
}

.rowMain{
	float:left;
	width:100%;	
	padding:5px;
	text-align:center;
}

.address{
	list-style-type: none;
}

/*  настройки оформления блока Footer
-----------------------------------------------------------------------------*/
footer {}

footer>div{
	margin: 0 auto 0;
	padding-top:1%;
	padding-bottom:1%;
	width: 80%;
}

footer>div>p {
	padding: 5%;
	opacity: 0.7;
	font-size: 10pt; 
	font-style: italic;
	color: black;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

footer>div>p:hover {
	color:rgba(191, 99, 164);
}

/* --------------------------------------------------------------------------- */

img{
	margin: 5px;
	padding: 5px;
}

/* ---------------------------------------------------------------------- */

.mainDiv{
	width: 100%;
	margin: 5% auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
}

.leftDiv{
	float: left;
	width: 70%;
	padding: 5%;
}

.rightDiv{
	float: right;
	width: 30%;
}

.rightDiv img{
	max-width: 100%;
}

/**/


.slide{
	margin: 0;
	padding: 0;
}

/**/

.novosti{
	border-bottom: 1px solid black;
}

.novosti p a{
	transition: all 0.3s ease-in-out;
}

.novosti img{
	max-width: 100%;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}

.novosti img:hover{
	transform: scale(1.04);
}

/**/

.products{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 5%;
	padding: 0;
}

.products a{
	text-decoration: none;
	color: black;
	opacity: 0.6;
	transition: all 0.3s ease-in-out;
	font-weight: 600;
}

.products a:hover{
	opacity: 1;
	color: rgba(138, 48, 105);
}

.col-md-4{
	margin-bottom: 8%;
}

.col-md-4 img{
	max-width: 100%;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

.col-md-4 img:hover{
	transform: scale(1.04);
}

/**/

input[type=submit]{
	font-weight: 600;
	border:none;
	border-radius: 8px;
	background-color: white;
	transition: all 0.3s ease-in-out;
}

input[type=submit]:hover{
	background-color: rgba(138, 48, 105);
}

input[type=text], textarea{
	border-radius: 8px;
}

input[type=file]{
	border-radius: 8px;
	background-color: rgba(138, 48, 105);
	color: white;
	transition: all 0.3s ease-in-out;
}

input[type=file]:hover{
	opacity: 0.8;
}

.forNewPages{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
